# Ignore ONLY raw MovieLens data
data/raw/
data/raw/*.zip
data/raw/*.csv

# Ignore virtual environment
venv/

# Ignore logs
logs/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/

# Ignore temp scripts
scripts/temp_file.py

